#example gradle.properties file for raspberry pi cross-compilation
#please rename a copy of this file to "gradle.properties" and set the paths

#path to the raspberrypi cross-compiler toolchain bin folder
RPI_TOOLCHAIN_PATH = /home/username/raspberrypi/gcc-linaro-7.4.1-2019.02-x86_64_arm-linux-gnueabihf/bin
#path to the raspberrypi file system root
RPI_SYSROOT = /home/username/raspberrypi/rootfs
